<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>@Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="@Description"/>
    <meta name="author" content="@Properties["project-author"]"/>

    <script src="https://code.jquery.com/jquery-1.8.0.js"></script>
    <script src="https://code.jquery.com/ui/1.8.23/jquery-ui.js"></script>
    <script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/config/TeX-AMS-MML_HTMLorMML.js"></script>
    <link type="text/css" rel="stylesheet" href="@Root/style/CSBstyle.css" />
    <link type="text/css" rel="stylesheet" href="@Root/content/style.css" />
    <script type="text/javascript" src="@Root/content/tips.js"></script>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li><a href="http://fsharp.org">fsharp.org</a></li>
          <li><a href="@Properties["project-github"]">github page</a></li>
        </ul>
        <h3 class="muted"><a href="@Root/index.html">@Properties["project-name"]</a></h3>
      </div>
      <hr />
      <div class="row">
        <div class="span9" id="main">
          @RenderBody()
        </div>
        <div class="span3">
          <img src="@Root/img/logo.png" alt="F# Project" style="width:150px;margin:10px" />  
          <ul class="nav nav-list" id="menu" style="margin-top: 20px;">
            <li class="nav-header">@Properties["project-name"]</li>
            <li><a href="@Root/index.html">Home page</a></li>
            <li class="divider"></li>
            <li><a href="@Properties["project-nuget"]">Get Library via NuGet</a></li>
            <li><a href="@Properties["project-github"]">Source Code on GitHub</a></li>
            <li><a href="@Root/license.html">License</a></li>
            <li><a href="@Root/release-notes.html">Release Notes</a></li>           
            <li class="nav-header">Getting started</li>
            <li><a href="@Root/tutorial.html">Sample tutorial</a></li>
			<li class="nav-header">Basic</li>
			<li><a href="@Root/Summary.html">Summary</a>
			@if (Properties.Dictionary.ContainsKey("page-source") && Properties["page-source"].ToString().EndsWith("Summary.fsx"))
            {
				<ul class="nav nav-list">
				<li><a href="@Root/Summary.html#Mean">Mean</a></li>
				<li><a href="@Root/Summary.html#Median">Median</a></li>
				<li><a href="@Root/Summary.html#Std">Standard Deviation</a></li>
				</ul>
            }
			</li>
			<li><a href="@Root/Correlation.html">Correlation</a></li>
			<li><a href="@Root/Covariance.html">Covariance</a></li>
			<li><a href="@Root/Rank.html">Rank</a></li>
			<li><a href="@Root/Quantile.html">Quantile</a></li> 
			<li class="divider"></li>
			<li><a href="@Root/Matrix_Vector.html">Matrix and Vector</a></li>
			@if (Properties.Dictionary.ContainsKey("page-source") && Properties["page-source"].ToString().EndsWith("Matrix_Vector.fsx"))
              {
				  <ul class="nav nav-list">
				  	<li><a href="@Root/Matrix_Vector.html#Vector">Vector</a></li>
					<li><a href="@Root/Matrix_Vector.html#Matrix">Matrix</a></li>
				  </ul>
              }
			  </li>
			<li class="divider"></li>
			<li><a href="@Root/SpecialFunctions.html">Special Functions</a></li> 
			@if (Properties.Dictionary.ContainsKey("page-source") && Properties["page-source"].ToString().EndsWith("SpecialFunctions.fsx"))
              {
				  <ul class="nav nav-list">
				  	<li><a href="@Root/SpecialFunctions.html#Gamma">Gamma</a></li>
					<li><a href="@Root/SpecialFunctions.html#Factorial">Factorial</a></li>
					<li><a href="@Root/SpecialFunctions.html#Beta">Beta</a></li>
					<li><a href="@Root/SpecialFunctions.html#Erf">Error Functions</a></li>
					<li><a href="@Root/SpecialFunctions.html#Logistics">Logistics</a></li>
					<li><a href="@Root/SpecialFunctions.html#Binomial">Binomial</a></li>
				  </ul>
              }
			</li>
			<li><a href="@Root/LinearAlgebra.html">Linear Algebra</a></li> 
			<li><a href="@Root/Integration.html">Integration</a></li>
			<li><a href="@Root/Optimization.html">Optimization</a></li> 
			@if (Properties.Dictionary.ContainsKey("page-source") && Properties["page-source"].ToString().EndsWith("Optimization.fsx"))
              {
				  <ul class="nav nav-list">
				  	<li><a href="@Root/Optimization.html#GradientDescent">GradientDescent</a></li>
					<li><a href="@Root/Optimization.html#LP">LP</a></li>
					<li><a href="@Root/Optimization.html#QP">QP</a></li>
					<li><a href="@Root/Optimization.html#QuasiNewton">QuasiNewton</a></li>
				  </ul>
              }
			</li>
			<li><a href="@Root/Distributions.html">Distributions</a></li> 
			@if (Properties.Dictionary.ContainsKey("page-source") && Properties["page-source"].ToString().EndsWith("Distributions.fsx"))
              {
				  <ul class="nav nav-list">
				  	<li><a href="@Root/Distributions.html#Bandwidth">Bandwidth</a></li>
					<li><a href="@Root/Distributions.html#Frequency">Frequency</a></li>
					<li><a href="@Root/Distributions.html#Empirical">Empirical</a></li>
					<li><a href="@Root/Distributions.html#Distribution">Distribution</a></li>
					<li><a href="@Root/Distributions.html#Continuous">Continuous</a></li>
					<li><a href="@Root/Distributions.html#Discrete">Discrete</a></li>
				  </ul>
              }
			</li>
			<li><a href="@Root/Testing.html">Testing</a></li> 
			@if (Properties.Dictionary.ContainsKey("page-source") && Properties["page-source"].ToString().EndsWith("Testing.fsx"))
              {
				  <ul class="nav nav-list">
				  	<li><a href="@Root/Testing.html#TestStatistics">Test Statistics</a></li>
					<li><a href="@Root/Testing.html#Anova">Anova</a></li>
					<li><a href="@Root/Testing.html#TTest">T-Test</a></li>
					<li><a href="@Root/Testing.html#ChiSquareTest">Chi-Squared Test</a></li>
					<li><a href="@Root/Testing.html#Bartlett">Bartlett</a></li>
					<li><a href="@Root/Testing.html#PostHoc">PostHoc</a></li>
					<li><a href="@Root/Testing.html#PvalueAdjust">Adjusting P-Values</a></li>
				  </ul>
              }
			</li>
			<li><a href="@Root/Fitting.html">Fitting</a></li>
			@if (Properties.Dictionary.ContainsKey("page-source") && Properties["page-source"].ToString().EndsWith("Fitting.fsx"))
              {
				  <ul class="nav nav-list">
				  	<li><a href="@Root/Fitting.html#Linear">Linear Regression</a></li>
					<li><a href="@Root/Fitting.html#Polynomial">Polynomial Regression</a></li>
				  </ul>
              }
			</li>
			<li><a href="@Root/Signal.html">Signal</a></li>
			@if (Properties.Dictionary.ContainsKey("page-source") && Properties["page-source"].ToString().EndsWith("Signal.fsx"))
              {
				  <ul class="nav nav-list">
				  	<li><a href="@Root/Signal.html#Wavelet">Wavelet</a></li>
					<li><a href="@Root/Signal.html#ContinuousWavelet">Continuous Wavelet</a></li>
					<li><a href="@Root/Signal.html#Baseline">Baseline</a></li>
					<li><a href="@Root/Signal.html#Filtering">Filtering</a></li>
				  </ul>
              }
			  </li>
            <li class="nav-header">Documentation</li>
            <li><a href="@Root/reference/index.html">API Reference</a></li>
          </ul>
        </div>
      </div>
    </div>
    <a href="@Properties["project-github"]"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"/></a>
  </body>
  </html>
